@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Suisse Intl Mono";
  src: url("../src/font/Suisse\ Int'l\ Mono.woff") format("woff"),
    url("../src/font/Suisse\ Int'l\ Mono.ttf") format("ttf");
}
@font-face {
  font-family: "Apercu";
  src: url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.eot");
  src: url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/cc63ce6e304da54106961b31a1d744a9.svg#Apercu")
      format("svg");
}
